img {
    height:500px;
    width:700px;
    border:5px solid #4682b4;
    margin:auto;
}
p {
    font-size:18px;
    padding:auto;
}
a {
    font-family:cursive;
    color:green;
}
.medium-font {
    font-size: 18px;
}
#title {
    color:red;
}
